.header_background {
  width: 100%;
  height: 60px;
  padding-left: 110px;
  padding-right: 110px;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 100;
}

.web_name_text {
  color: #6cf0c2;
  text-decoration: none;
  font-size: 24px;
  font-family: "InterBlack";
}

.header_button_list {
  display: flex;
  flex-direction: row;
  gap: 35px;
  height: 100%;
  align-items: center;
}

.header_button_text {
  color: black;
  font-size: 14px;
  font-family: "InterLight";
  text-decoration: none;
}

.header_button_text:hover {
  color: #6cf0c2;
}
.header_button_genre_text {
  color: black;
  font-size: 14px;
  font-family: "InterLight";
  position: relative;
}

.header_button_genre_text:hover {
  color: #6cf0c2;
} 
.header_drop_sheet {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.header_button_list :active {
  color: darkgrey;
}

.header_button_genre_text :active {
  color: darkgrey;
}

.login_signup_button_list {
  display: flex;
  flex-direction: row;
}

.genres_button {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.genres_popup {
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  height: 0px;
  top: 60px;
  right: -43px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
} 

.genres_popup.close {
  height: 0px;
  transition: height 0.1s ease-in;
}

.genres_popup.open {
  height: calc(21 * 40px);
  transition: height 0.1s ease-in;
}

.genres_item {
  font-family: "InterLight";
  color: black;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  text-decoration: none;
}

.genres_item:hover {
  color: #6cf0c2;
} 